<img src="/assets/img/burger.png" alt="picture of a delicious cheeseburger">
<h1>Eat Da Burger!</h1>

<h2>Burgers not devoured</h2>

{{#each burgers}}
{{#unless this.devoured}}
<ul>
    <li>
        <p><span class="label"></span> {{this.id}}: {{this.burger_name}} <button class="devour"
                data-id="{{this.id}}">Devour It!</button></p>
    </li>
</ul>
{{/unless}}
{{/each}}

<h2>Burgers devoured</h2>

{{#each burgers}}
{{#if this.devoured}}
<ul>
    <li>
        <p><span class="label"></span> {{this.id}}: {{this.burger_name}}
    </li>
</ul>
{{/if}}
{{/each}}

<h2>Enter a burger you want to eat then click the "Add Burger" button!</h2>

<form class="create-form">
    <div class="form-group">
        <h3>Burger Name: </h3>
        {{!-- <label for="burg"></label> --}}
        <textarea id="burg" name="burger" rows="4" cols="40"></textarea>
    </div>
    </br>
    <button type="submit">Add Burger</button>
</form>