<main class="container">
    {{!-- bootstrap row/col structure --}}
    <div class="row">
        <div class="col-12 text-center">
            <h1>Eat Da Burger!</h1>
            <img src="/assets/img/burger.png" alt="picture of a delicious cheeseburger">
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-6">
            <h2>Not Devoured</h2>
            {{!-- loop through burgers object --}}
            {{#each burgers}}
            {{!-- check if the burger has been devoured --}}
            {{#unless this.devoured}}
            <ul>
                <li>
                    <p><span class="label"></span> {{this.id}}: {{this.burger_name}} <button
                            class="devour btn-dark ml-1" data-id="{{this.id}}">Devour It!</button></p>
                </li>
            </ul>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-6">
            <h2>Devoured</h2>
            {{#each burgers}}
            {{#if this.devoured}}
            <ul>
                <li>
                    <p><span class="label"></span> {{this.id}}: {{this.burger_name}}
                </li>
            </ul>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            </br>
            <h5>Enter a burger you want to eat then click the "Add Burger" button!</h5>
            <form class="create-form">
                <div class="form-group">
                    <textarea id="burg" name="burger" rows="2" cols="30"></textarea>
                </div>
                <button type="submit" class="btn-success">Add Burger</button>
            </form>
            </br>
        </div>
    </div>
</main>